@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: Arial, sans-serif;
} */

nav {
  background-color: #d33333;
  color: white;
  padding: 5px 30px;
  /* position: relative; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background: #c02e2e;
  border-radius: 4px;
}

/* Hamburger */
.menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
  transition: 0.3s;
}




/* hero section  */

/* hero section off */

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #4e554f;
    display: none;
  }

  .nav-links a {
    padding: 15px;
    border-top: 1px solid #444;
  }

  .menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }
}





/* movie card */

